{% extends 'base.html.twig' %}

{% block title %}New Calendario{% endblock %}

{% block body %}
    <h1>Create new Calendario</h1>

    {{ include('calendario/_form.html.twig') }}

    <a href="{{ path('app_calendario_index') }}">back to list</a>
{% endblock %}
